<div class="page">
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__group"><a href="/questions/all" class="menu__link">All Questions</a></li>
      <li class="menu__group"><a href="/questions/users/<%=@current_user.username%>" class="menu__link">My Questions</a></li>
      <li class="menu__group"><a href="/lawyers" class="menu__link">Lawyers</a></li>
    </ul>
  </nav>
</div>
<br><br>
<h3>Edit Your Question Here:</h3>

<form action="/questions/<%=@question.slug%>" method="post">
    <input type="hidden" id="hidden" name="_method" value="patch">
    Title: <input type="text" id="title" name="title" value="<%=@question.title%>" size="70" required><br>
    Description:<br> ​<textarea id="description" name="description" rows="10" cols="70"><%=@question.description%></textarea><br>

    <label for="jurisdiction">Jurisdiction:</label>
    <input type="text" list="jurisdictions" id="jurisdiction" name="jurisdiction" value="<%=@question.jurisdiction%>">

    <datalist id="jurisdictions">
        <option value="Austria"></option>
        <option value="Belgium"></option>
        <option value="Bulgaria"></option>
        <option value="Croatia"></option>
        <option value="Republic of Cyprus"></option>
        <option value="Czech Republic"></option>
        <option value="Denmark"></option>
        <option value="Estonia"></option>
        <option value="Finland"></option>
        <option value="France"></option>
        <option value="Germany"></option>
        <option value="Greece"></option>
        <option value="Hungary"></option>
        <option value="Ireland"></option>
        <option value="Italy"></option>
        <option value="Latvia"></option>
        <option value="Lithuania"></option>
        <option value="Luxembourg"></option>
        <option value="Netherlands"></option>
        <option value="Poland"></option>
        <option value="Portugal"></option>
        <option value="Romania"></option>
        <option value="Slovakia"></option>
        <option value="Slovenia"></option>
        <option value="Spain"></option>
        <option value="Sweden"></option>
    </datalist><br>

    <label for="area">Area:</label>
    <input type="text" list="areas" id="area" name="area" value="<%=@question.area%>">

    <datalist id="areas">
        <option value="Immigration Law"></option>
        <option value="Family Law"></option>
        <option value="Labour Law"></option>
        <option value="Tax Law"></option>
        <option value="Criminal Law"></option>
    </datalist><br>

    <input type="submit" value="Edit Question">
</form>