<div class="page">

    <br><br>

    <%@lawyers.each_with_index do |l, i|%>
        <h4><%="#{i+1}. #{l.username}"%></h4> <br><br>
        Expertise: <%=l.expertise.gsub(/[\[\]\"]/, "")%> <br>
        Jurisdiction: <%=l.jurisdiction%><br>
        Upvotes: <%=l.upvotes%><br>
        <a href="/questions/users/<%=l.username%>">Profile And Questions</a> 
        <br><br>
    <%end%>

</div>